body {
    background-color: black;
    color: white;
    margin: 0;
}

h1,
h2,
h3 {
    text-align: center;
}

a {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: green;
    color: white;
}

.centered {
    background-color: #151616;
    padding: 20px;
    padding-top: 0;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}